parameters:
    checkGenericClassInNonGenericObjectType: false
    level: max
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
    excludePaths:
        - cms/Craft/AnselCraftField.php
        - src/Field/Field/Validate/CraftValidateField.php
        - src/Field/Field/SaveCraftFields/AfterElementSave.php
        - docker/environments/eecoilpack
        - src/Shared/CraftAssetQueryBuilderFactory.php
        - src/SourceHandling/Craft/Craft
    bootstrapFiles:
        - tools-bootstrap.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
