parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
    excludePaths:
        - cms/Craft/AnselCraftField.php
    bootstrapFiles:
        - tools-bootstrap.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
