.license-scroll-wrap {
    @apply
        ansel_border
        ansel_border-gray-200
        ansel_border-solid
        ansel_max-h-72
        ansel_overflow-x-hidden
        ansel_overflow-y-scroll
        ansel_p-3
    ;
}
