.ansel_release-notes h1 {
    @apply
        ansel_pt-4
    ;
}

.ansel_release-notes p {
    @apply
        ansel_leading-6
        ansel_mb-1
        ansel_ml-6
        ansel_relative
    ;
}

.ansel_release-notes p::before {
    @apply
        ansel_absolute
        ansel_bg-black
        ansel_inline-block
        ansel_rounded-full
    ;

    content: " ";
    height: 6px;
    left: -15px;
    top: 7px;
    width: 6px;
}
