@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset {
    margin-bottom: 20px;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
}
