{# @var string content #}

{% extends '@AnselSrc/Cp/Settings/Ee/SettingsLayout.twig' %}

{% block content %}
    <div class="ansel_rounded-md ansel_bg-red-50 ansel_p-4">
        <div class="ansel_flex">
            <div class="ansel_ml-3">
                {{ content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
